<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
        name="hibiscus.docmanager" version="0.2.5" class="name.aiteanu.docmanager.DocManager">

  <description>DocManager Plugin for Jameica/Hibiscus</description>
  <url>https://faiteanu.github.io/hibiscus.docmanager/hibiscus.docmanager.zip</url>
  <homepage>https://github.com/faiteanu/hibiscus.docmanager</homepage>
  <license>CC BY-NC-SA 4.0 - https://creativecommons.org/licenses/by-nc-sa/4.0/</license>

  <!-- Define dependencies to jameica or other plugins -->
  <requires jameica="1.10+">
    <import plugin="hibiscus" version="2.10+" required="true" />
    <import plugin="hibiscus.mashup" version="0.9.40+" required="true" />
    <import plugin="hibiscus.scripting.chromedriver" version="117.0.5938.88+" required="true" />
    <import plugin="hibiscus.scripting.htmlunit" version="3.7.0+" required="true" />
    <import plugin="hibiscus.scripting.selenium" version="3.141.59+" />
    <import plugin="finance.websync" version="0.9.72+" required="true" />
  </requires>

  <!-- Define regex wildcards for the classes and jars the classfinder should load -->
  <classfinder>
    <include>hibiscus\.docmanager\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <!-- The content of the following tag is displayed in the menu bar. //-->
  <menu>

    <!-- 
      
      Every item must have a "name" and an "action" attribute.
      the class defined in the attribute "action" has to be a java class name
      which implements from de.willuhn.jameica.gui.Action.
      
      Additionally you can specify a shortcut using "CTRL" or "ALT"
      as modifier key followed by "+" and a single key.
      
      Hint: You can create submenus by cascading "item" tags
      
      <item name="entry name"
            action="com.foo.bar.gui.actions.ExampleAction"
            shortcut="CTRL+E"/>
      
    //-->
    <item name="DocManager">

	  <item name="Accounts" id="docmanager.menu.accounts" icon="system-file-manager.png" action="name.aiteanu.docmanager.gui.action.ListAccounts" />
      <item name="Documents" id="docmanager.menu.documents" icon="application-pdf.png" action="name.aiteanu.docmanager.gui.action.ListDocuments" />
      <!--<item name="New Project" shortcut="ALT+P" action="de.willuhn.jameica.example.gui.action.ProjectDetail" />-->

      <!-- use "-" as name to create a separator //-->
      <item name="-" />

	  <item name="&amp;Lizenzinformationen" id="docmanager.menu.license" icon="emblem-documents.png" action="name.aiteanu.docmanager.gui.action.ShowLicense" />
      <item name="About" id="docmanager.menu.about" icon="gtk-info.png" action="name.aiteanu.docmanager.gui.action.ShowAbout" />
    </item>
  </menu>

  <!-- the content of this tag will appear within the navigation tree on the left hand //-->
  <navigation>

    <!-- Same procedure as in the menu tag //-->

    <item name="DocManager" icon-close="folder.png" icon-open="folder-open.png" action="name.aiteanu.docmanager.gui.action.ShowWelcome">
      <item name="Accounts" id="docmanager.navi.accounts" icon-close="system-file-manager.png" action="name.aiteanu.docmanager.gui.action.ListAccounts" />
      <item name="Documents" id="docmanager.navi.documents" icon-close="application-pdf.png" action="name.aiteanu.docmanager.gui.action.ListDocuments" />
    </item>
  </navigation>

  <!--
    Here you can define your service classes. This is typically a
    database connection. You can list more than one service in this
    section. By using the depends attribute you can define a startup order
    for your services. Example:
    
    <services>
    <service name="base-service" depends="" autostart="true" class="BaseService" />
    <service name="extended-service" depends="base-service" autostart="true" class="ExtendedService" />
    </services>
    

  <services>
    <service name="exampledatabase" depends="" autostart="true" class="de.willuhn.jameica.example.rmi.ExampleDBService" />
  </services>
    //-->
</plugin>

