<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
        name="hibiscus.docmanager" version="0.2.7" class="name.aiteanu.docmanager.DocManager">

  <description>DocManager Plugin for Jameica/Hibiscus</description>
  <url>https://faiteanu.github.io/hibiscus.docmanager/hibiscus.docmanager.zip</url>
  <homepage>https://github.com/faiteanu/hibiscus.docmanager</homepage>
  <license>CC BY-NC-SA 4.0 - https://creativecommons.org/licenses/by-nc-sa/4.0/</license>

  <!-- Define dependencies to jameica or other plugins -->
  <requires jameica="1.10+">
    <import plugin="hibiscus" version="2.10.17+" required="true" />
    <import plugin="hibiscus.mashup" version="0.9.40+" required="true" />
    <import plugin="hibiscus.scripting.chromedriver" version="117.0.5938.88+" required="true" />
    <import plugin="hibiscus.scripting.htmlunit" version="3.7.0+" required="true" />
    <import plugin="hibiscus.scripting.selenium" version="3.141.59+" />
    <import plugin="finance.websync" version="0.9.82+" required="true" />
  </requires>

</plugin>

